In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/discharge_icd_clean.csv')

In [3]:
df.head()

                                                TEXT ICD9_CODE
0  Admission Date:  [**2101-10-20**]     Discharg...      0389
1  Admission Date:  [**2191-3-16**]     Discharge...       042
2  Admission Date: [**2175-5-30**]        Dischar...     40391
3  Admission Date:  [**2149-11-9**]       Dischar...       431
4  Admission Date:  [**2103-6-28**]       Dischar...     V3000

In [4]:
import re

In [ ]:
def clean_text(text):
    text = re.sub(r"\[\*\*.*?\*\*\]", " ", text)  # Remove PHI
    text = re.sub(r"[^a-zA-Z0-9\s]", " ", text)   # Remove special characters
    text = re.sub(r"\s+", " ", text).strip()      # Remove extra whitespace
    return text.lower()